<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook fa-bounce"></i>
            <i class="fa-brands fa-instagram fa-bounce"></i>
            <i class="fa-brands fa-linkedin fa-bounce"></i>
            <i class="fa-brands fa-snapchat fa-bounce"></i>
            <i class="fa-brands fa-twitter fa-bounce"></i>
        </div>
        <div class="f-info-brand">&copy; AirBnB Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>